
<h4>Login</h4>
<form>
  <p><label>user name: </label><input type="text" [(ngModel)]="loginModel.userName" name="userName"></p>
  <p><label>password: </label><input type="password" [(ngModel)]="loginModel.password" name="password"></p>
  <p>{{errorMessage}}</p>
  <p><input type="button" (click)="login()" value="Login"></p>
</form>
