<div>
  <a routerLink="">home</a>&nbsp;
  <a href="#" *ngIf="userChecked && !isAuthenticated" routerLink="login">login</a>
  <a href="#" *ngIf="userChecked && isAuthenticated" (click)="logout()">logout({{userName}})</a>
</div>
